In [67]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (4.8.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from selenium) (0.10.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [68]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [69]:
#Connecting to the web driver
driver=webdriver.Chrome(r"C:\Users\Sachin Sharma\Downloads\chromedriver_win32\chromedriver.exe")

# Question 1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [70]:
#opening the Naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [71]:
# entering designation as required  in the question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

In [72]:
#location as required in question
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [73]:
# using XPATH for search button
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search.click()

In [74]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [75]:
# scraping Job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping experience required from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [76]:
# Checking length
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [77]:
#creating the dataframe from above data-
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Data Analyst,Bangalore/Bengaluru,Ingersoll Rand,3-6 Yrs
1,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack,2-6 Yrs
2,Data Analyst,Bangalore/Bengaluru,Unusual Hire,1-4 Yrs
3,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
4,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
5,Data Analyst - MySQL,Bangalore/Bengaluru,Talentstack,2-7 Yrs
6,ExcelHER-Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Volvo Financial Services,3-5 Yrs
7,Data Analyst,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Allegis Group,4-9 Yrs
8,Data Analyst,Bangalore/Bengaluru,Clarivate,2-4 Yrs
9,Data Analyst,Bangalore/Bengaluru,Novel Office,0-2 Yrs

# Question 2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [78]:
#opening the Naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [79]:
# entering designation as required in the question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data scientist")

In [80]:
#location as required in question
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [81]:
# using XPATH for search button
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [82]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [83]:
#scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping location from given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping exprience from given page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft br2 placeHolderLi experience"]/span[1]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [84]:
#checking length
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [85]:
#creating the dataframe from above data-
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Data Science Professional - IBM SPSS Statistic...,"Bangalore/Bengaluru, Noida, Mumbai, Pune, Chennai",Hexaware Technologies,5-8 Yrs
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
3,Senior data scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,4-8 Yrs
4,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,5-11 Yrs
5,Data Scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,3-7 Yrs
6,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent,5-12 Yrs
7,Manager - Innovations Hub - Machine Learning,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC,7-9 Yrs
8,Data Scientist,Bangalore/Bengaluru,IBM,7-9 Yrs
9,Data Scientist,Bangalore/Bengaluru,IBM,7-11 Yrs

# Question 3: In this question you have to scrape data using the filters available on the webpage

In [86]:
#Connecting to the web driver
driver=webdriver.Chrome(r"C:\Users\Sachin Sharma\Downloads\chromedriver_win32\chromedriver.exe")

In [87]:
#opening the Naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [88]:
# entering designation as required in the question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data scientist")

In [89]:
# using XPATH for search button
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search.click()

In [90]:
# Appling location filter checkbox by using XPATH
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[1]/div[2]/div[2]/label/p/span[1]")
location.click()

In [91]:
# Appling Salary filter checkbox by using XPATH
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[2]/div[2]/div[2]/label/p/span[1]")
salary.click()

In [188]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [ ]:
#scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping location from given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping exprience from given page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft br2 placeHolderLi experience"]/span[1]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [ ]:
#checking length
print(len(job_title),len(job_location),len(company_name),len(experience_required))

In [99]:
#creating the dataframe from above data-
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Capgemini _We Are Hiring For Java Backend deve...,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",Capgemini,6-11 Yrs
1,OpenText Extended ECM/xECM,"Hybrid - Hyderabad/Secunderabad, Pune, Chennai...",Wipro,5-10 Yrs
2,Java Back End Developer,"Hybrid - Hyderabad/Secunderabad, Pune, Bangalo...",Tech Mahindra,5-9 Yrs
3,Java Microservice Developer,"Hybrid - Noida, Hyderabad/Secunderabad, Pune, ...",Publicis Resources,7-12 Yrs
4,ORMB Developer,"Hybrid - Noida, Hyderabad/Secunderabad, Pune, ...",People Staffing,3-7 Yrs
5,Senior Java Developer,"Hybrid - Pune, Bangalore/Bengaluru, Delhi / NCR",Genpact,5-10 Yrs
6,Hiring --Java developer,"Hybrid - Mumbai, Hyderabad/Secunderabad, Banga...",Tech Mahindra,4-9 Yrs
7,Php Developer,"Hybrid - Gurgaon/Gurugram, Bangalore/Bengaluru...",Publicis,0-2 Yrs
8,Python Lead Developer,"Hybrid - Gurgaon/Gurugram, Bangalore/Bengaluru",Wipro,6-9 Yrs
9,Dotnet Core Developers,"Hybrid - Hyderabad/Secunderabad(Kondapur), Ban...",3i Infotech,5-9 Yrs

# Question 4: Scrape data of first 100 sunglasses listings on flipkart.com.

In [202]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (4.8.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from selenium) (0.10.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [203]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [204]:
#Connecting to the web driver
driver=webdriver.Chrome(r"C:\Users\Sachin Sharma\Downloads\chromedriver_win32\chromedriver.exe")

In [205]:
#opening the flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [206]:
# entering designation as required in the question
search_bar=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_bar.send_keys("sunglasses")

In [208]:
# using XPATH for search button
search_icon=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search_icon.click()

In [222]:
branded_sunglasses=[]
product_description=[]
sunglasses_price=[]
discounted_sunglasses=[]

In [224]:
start=0
end=3
for page in range(start,end):
    # scraping data of 100 branded sunglasses from flipkart web page
    sunglasses_brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for brand in sunglasses_brand:
        branded_sunglasses.append(brand.text)
    
    # scraping data with 100 product description of sunglasses from flipkart web page
    descriptive_product=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for description in descriptive_product:
        product_description.append(description.text)
    
    # scraping data with price of 100 sunglasses from flipkart web page
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for prs in price_tag:
        sunglasses_price.append(prs.text)
    
    # scraping data with price of 100 sunglasses from flipkart web page
    sunglasses_discount=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for offer in sunglasses_discount:
        discounted_sunglasses.append(offer.text)
        
    #using XPATH for change the page
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(7)

In [227]:
#checking length
print(len(branded_sunglasses),len(product_description),len(sunglasses_price),len(discounted_sunglasses))

160 156 120 120

In [231]:
#creating the dataframe from above data-
df=pd.DataFrame({'Brand':branded_sunglasses[0:100],'Product Description':product_description[0:100],'Price':sunglasses_price[0:100],'Discount':discounted_sunglasses[0:100]})
print('-'*22,"First 100 sunglasses",'-'*23)
df

---------------------- First 100 sunglasses -----------------------

,Brand,Product Description,Price,Discount
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Retro Squ...",₹919,54% off
1,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)",₹854,57% off
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹149,88% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹569,48% off
4,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149,75% off
...,...,...,...,...
95,RBILZ,UV Protection Rectangular Sunglasses (Free Size),₹249,75% off
96,Fastrack,"Gradient, Night Vision, Polarized, Photochroma...",₹99,88% off
97,Fastrack,"by Lenskart Polarized, UV Protection Cat-eye S...",₹169,86% off
98,SUNBEE,UV Protection Spectacle Sunglasses (Free Size),₹569,48% off
99,ARICKS,"Polarized, UV Protection, Riding Glasses Wayfa...",₹899,65% off

# Question5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [232]:
#Connecting to the web driver
driver=webdriver.Chrome(r"C:\Users\Sachin Sharma\Downloads\chromedriver_win32\chromedriver.exe")

In [236]:
#opening the iphone11 Ratings & Reviews page on automated chrome browser
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd")

In [237]:
iphone_rating=[]
review_summary=[]
full_review=[]

In [238]:
# The page contain only 10 reviews, need to click on '+' to get all 100 reviews
start=0
end=20
for page in range(start,end):
    # scraping data of ratings of iphone11 from flipkart web page
    ratings_ipone11=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for rating in ratings_ipone11:
        iphone_rating.append(rating.text)
    
    # scraping data with reviw of iphone11 from flipkart web page
    review_iphone11=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for review in review_iphone11:
        review_summary.append(review.text)
    
    # scraping data with all 100 reviw of iphone11 from flipkart web page
    entire_review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for reviews in entire_review:
        full_review.append(reviews.text)
        
    #using XPATH for change the page
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [239]:
#checking length
print(len(iphone_rating),len(review_summary),len(full_review))

200 200 200

In [96]:
#creating the dataframe from above data-
df=pd.DataFrame({'Rating':iphone_rating[0:100],'Review Summary':review_summary[0:100],'Full Review':full_review[0:100]})
df

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,,,
4,,,
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
97,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
98,5,Highly recommended,What a camera .....just awesome ..you can feel...
99,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price

In [241]:
#Connecting to the web driver
driver=webdriver.Chrome(r"C:\Users\Sachin Sharma\Downloads\chromedriver_win32\chromedriver.exe")

In [242]:
#opening the flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [243]:
# entering sneakers as required in the question
search_bar=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_bar.send_keys("sneakers")

In [244]:
# using XPATH for search button
search_icon=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/buttonsneakers')
search_icon.click()

In [245]:
branded_sneakers=[]
sneakers_description=[]
sneakers_price=[]
discounted_sneakers=[]

In [247]:
start=0
end=3
for page in range(start,end):
    # scraping data of 100 branded sneakers from flipkart web page
    sneakers_brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for brand in sneakers_brand:
        branded_sneakers.append(brand.text)
    
    # scraping data with 100 product description of sneakers from flipkart web page
    descriptive_product=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for descriptive in descriptive_product:
        sneakers_description.append(descriptive.text)
    
    # scraping data with price of 100 sneakers from flipkart web page
    worth_sneakers=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for worth in worth_sneakers:
        sneakers_price.append(worth.text)
    
    # scraping data with price of 100 sneakers from flipkart web page
    sneakers_discounted=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for deduction in sneakers_discounted:
        discounted_sneakers.append(deduction.text)
        
    #using XPATH for change the page
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [248]:
#checking length
print(len(branded_sneakers),len(sneakers_description),len(sneakers_price),len(discounted_sneakers))

120 117 120 119

In [249]:
#creating the dataframe from above data-
df=pd.DataFrame({'Brand':branded_sneakers[0:100],'Product Description':sneakers_description[0:100],'Price':sneakers_price[0:100],'Discount':discounted_sneakers[0:100]})
df

,Brand,Product Description,Price,Discount
0,New Balance,373 Sneakers For Men,"₹5,244",52% off
1,New Balance,327 Sneakers For Men,"₹4,199",58% off
2,World Wear Footwear,Latest Exclusive Affordable Collection of Tren...,₹279,86% off
3,SFR,Sneakers For Men,₹279,67% off
4,Kraasa,Sneakers For Women,₹299,70% off
...,...,...,...,...
95,WHITE WALKERS,Modern Trendy Sneakers boot Sneakers Sneakers ...,₹449,70% off
96,Zixer,Combo Pack Of 2 Casual Shoes Sneakers For Men,₹666,66% off
97,Roadster,Roadster Wonen's White Faux Leather Casual Lac...,"₹1,109",63% off
98,Magnolia,Sneakers For Men,₹399,69% off
99,BIRDE,Modern Trendy Shoes Sneakers For Men,₹499,50% off

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then 
set CPU Type filter to “Intel Core i7” as shown in the below image:

In [104]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (4.8.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from selenium) (0.10.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [105]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [106]:
#Connecting to the web driver
driver=webdriver.Chrome(r"C:\Users\Sachin Sharma\Downloads\chromedriver_win32\chromedriver.exe")

In [107]:
#opening the flipkart page on automated chrome browser
driver.get("https://www.amazon.in/")

In [108]:
# entering designation as required in the question
search_bar=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_bar.send_keys("Laptop")

In [109]:
# using XPATH for search button
search_icon=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_icon.click()

In [110]:
# using XPATH for setting  filter type “Intel Core i7” 
filter_type=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/li[9]/span/a/div/label/i')
filter_type.click()

In [111]:
Laptop_title=[]
Laptop_rating=[]
Laptop_price=[]

In [115]:
start=0
end=3
for page in range(start,end):
    # scraping data of 100 branded sneakers from flipkart web page
    Laptopi7_title=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
    for title in Laptopi7_title:
        Laptop_title.append(title.text)
    
    # scraping data with 100 product description of sneakers from flipkart web page
    Laptopi7_rating=driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]')
    for rating in Laptopi7_rating:
        Laptop_rating.append(rating.text)
    
    # scraping data with price of 100 sneakers from flipkart web page
    Laptopi7_price=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
    for price in Laptopi7_price:
        Laptop_price.append(price.text)
        
    #using XPATH for change the page
    next_button=driver.find_element(By.XPATH,'//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]')
    next_button.click()
    time.sleep(3)

In [116]:
# Checking length
print(len(Laptop_title),len(Laptop_rating),len(Laptop_price))

144 67 136

In [117]:
#creating the dataframe from above data-
df=pd.DataFrame({'Title':Laptop_title[0:10],'Ratings':Laptop_rating[0:10],'Price':Laptop_price[0:10]})
df

                                               Title Ratings Price
0  HP Victus Gaming Latest 12th Gen Intel Core i7...
1  Samsung Galaxy Book2 (NP750) Intel 12th Gen co...
2  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...
3  ASUS TUF Gaming F15 (2022), 15.6"(39.62 cms) F...
4  ASUS TUF Dash F15, Intel Core i7-12650H 12th G...
5  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...
6  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...
7  (Renewed) Dell Latitude Laptop 7390 Intel Core...
8  Dell G15-5520 Gaming Laptop, i7-12650H, 16GB D...
9  ASUS TUF Gaming F15 (2022), 15.6" (39.62 cms) ...

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time

In [176]:
#Connecting to the web driver
driver=webdriver.Chrome(r"C:\Users\Sachin Sharma\Downloads\chromedriver_win32\chromedriver.exe")

In [177]:
#opening the flipkart page on automated chrome browser
driver.get("https://www.azquotes.com/")

In [179]:
# using XPATH for clicking GK OPTION
Top_Quotes=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
Top_Quotes.click()

In [180]:
# First of all click on quotes left middle side
Quote=[]
Author=[]
Type_Of_Quotes=[]

In [183]:
start=0
end=10
for page in range(start,end):
    # scraping data of 1000 quotes from  azquotes page
    quote_tag=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for quotes in quote_tag:
        Quote.append(quotes.text)
    
    # scraping data of Author's from azquotes page
    author_tag=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for authors in author_tag:
        Author.append(authors.text)
    
    # scraping data of Type_Of_Quotes from azquotes page
    quotes_tag=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for thought in quotes_tag:
        Type_Of_Quotes.append(thought.text)

    #using XPATH for change the page
    next_button=driver.find_element(By.XPATH,'//div[@class="pager"]')
    next_button.click()
    time.sleep(3)

In [184]:
# Checking length
print(len(Quote),len(Author),len(Type_Of_Quotes))

2100 2100 2100

In [185]:
#creating the dataframe from above data-
df=pd.DataFrame({'Quote':Quote[0:1000],'Author':Author[0:1000],'Type_Of_Quotes':Type_Of_Quotes[0:1000]})
df

,Quote,Author,Type_Of_Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,The average dog is a nicer person than the ave...,Andy Rooney,"Inspirational, Funny, Dog"
996,America will never be destroyed from the outsi...,Abraham Lincoln,"Wisdom, Religious, Freedom"
997,Faithful servants never retire. You can retire...,Rick Warren,"Reality, Servant Of God, Careers"
998,"In matters of style, swim with the current; in...",Thomas Jefferson,"Inspirational, Motivational, Success"
999,Dad needs to show an incredible amount of resp...,Tim Allen,"Friendship, Teamwork, Mom"

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,Term of office, Remarks)

In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (4.8.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from selenium) (0.10.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [216]:
#Connecting to the web driver
driver=webdriver.Chrome(r"C:\Users\Sachin Sharma\Downloads\chromedriver_win32\chromedriver.exe")

In [217]:
#opening the flipkart page on automated chrome browser
driver.get("https://www.jagranjosh.com/")

In [220]:
# using XPATH for clicking GK OPTION
gk_option=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[1]/div/div[3]/div/div[1]/header/div[3]/ul/li[9]/a')
gk_option.click()

In [221]:
# using XPATH for clicking GK OPTION
PM_list=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
PM_list.click()

In [222]:
prime_minister_Name=[]
prime_minister_Born_Dead=[]
prime_minister_Term_of_office=[]
_prime_minister_Remarks=[]

In [ ]:
# scraping data for getting list of former Prime Ministers of India from jagranjosh page
name_tag=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for name in name_tag:
    prime_minister_Name.append(name.text)
    
# scraping data for getting date of birth and death of former Prime Ministers of India from jagranjosh page
bd_tag=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p')
for bd in bd_tag:
    prime_minister_Born_Dead.append(bd.text)
    
# scraping data for getting service period of former Prime Ministers of India from jagranjosh page
period_tag=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for period in period_tag:
    prime_minister_Term_of_office.append(period.text)
    
# scraping data for getting remaks of former Prime Ministers of India from jagranjosh page
remarks_tag=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for remark in remarks_tag:
    _prime_minister_Remarks.append(remark.text)

In [226]:
# Checking length
print(len(Name),len(Born_Dead),len(Term_of_office),len(Remarks))

6 2 2 2

In [ ]:
#creating the dataframe from above data-
df=pd.DataFrame({'Name':Name,'Born_Dead':Born_Dead,'Term_of_office':Term_of_office,'Remarks':Remarks})
df

# Q10: Write a python program to display list of 50 Most expensive cars in the world

In [194]:
#Connecting to the web driver
driver=webdriver.Chrome(r"C:\Users\Sachin Sharma\Downloads\chromedriver_win32\chromedriver.exe")

In [195]:
#opening the motor1 page on automated chrome browser
driver.get("https://www.motor1.com/")

In [196]:
# using XPATH for Menu OPTION
list_menu=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[1]/div')
list_menu.click()

In [197]:
# using XPATH for clicking FEATURES in list
features_menu=driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[5]/a')
features_menu.click()

In [202]:
# using XPATH for clicking 50 Most Expensive Cars In The World 
expensive_car=driver.find_element(By.XPATH,'/html/body/div[3]/div[6]/div/div[1]/div[1]/div[3]/div/div[1]/h3/a')
expensive_car.click()

In [203]:
car_name=[]
car_price=[]

In [245]:
# scraping data for getting Name of 50 Most Expensive Cars In The World from motor1 page
luxury_name=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for car in luxury_name:
    car_name.append(car.text)
    
# scraping data for getting Price of 50 Most Expensive Cars In The World from motor1 page
luxury_price=driver.find_elements(By.XPATH,'//strong')
for price in luxury_price:
    car_price.append(price.text)

In [246]:
# Checking length
print(len(car_name),len(car_price))

0 171

In [ ]:
#creating the dataframe from above data-
df=pd.DataFrame({'50 Most Expensive Cars In The World':car_name,'Price':car_price})
df