In [14]:
!pip install bs4
!pip install html5lib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: html5lib in c:\users\sachin sharma\appdata\roaming\python\python39\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from html5lib) (0.5.1)

In [17]:
from bs4 import BeautifulSoup
import requests
import re

In [19]:
#1.write a python program to display all the header tags from 'en.wikipedia.org/wiki/main_page'.
#send get request to the webpage server to get the source code of the page
page = requests.get("https://en.wikipedia.org/wiki/Main_Page")

# page content
soup=BeautifulSoup(page.content)

header_tags = [] # empty list
for header in soup.find_all(["h1","h2","h3","h4","h5","h6"]):
    header_tags.append(header.name+" "+header.text.strip())
    
# print all header_tags
header_tags

['h1 Main Page',
 'h1 Welcome to Wikipedia',
 "h2 From today's featured article",
 'h2 Did you know\xa0...',
 'h2 In the news',
 'h2 On this day',
 "h2 Today's featured picture",
 'h2 Other areas of Wikipedia',
 "h2 Wikipedia's sister projects",
 'h2 Wikipedia languages']

In [20]:
#2. IMDB’s Top rated 100 movies’ data


from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import re
html = urlopen('http://www.imdb.com/chart/top')
bs = BeautifulSoup(html, "html.parser")
movies = bs.select('td.titleColumn')
ratings = [b.attrs.get('data-value') for b in bs.select('td.posterColumn span[name=ir]')]


imdb = []

# Store each item into dictionary (data), then put those into a list (imdb)
for index in range(0, 50):
    # Seperate movie into: 'place', 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    data = [movie_title,
            ratings[index],
            year
            ]
    imdb.append(data)
    
df = pd.DataFrame(imdb, columns=['Name', 'Rating', 'Year of Release'])

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
 
# All dataframes hereafter reflect these changes.
display(df)

,Name,Rating,Year of Release
0,The Shawshank Redemption,9.235649184615554,1994
1,The Godfather,9.155945794180111,1972
2,The Dark Knight,8.99110705872849,2008
3,The Godfather Part II,8.98391121563782,1974
4,12 Angry Men,8.952673659954899,1957
5,Schindler's List,8.939690003551755,1993
6,The Lord of the Rings: The Return of the King,8.931665765609097,2003
7,Pulp Fiction,8.846886757850855,1994
8,The Lord of the Rings: The Fellowship of the Ring,8.810555692635617,2001
9,"Il buono, il brutto, il cattivo",8.789498179053293,1966
10,Forrest Gump,8.766858342269497,1994
11,Fight Club,8.748061807923964,1999
12,The Lord of the Rings: The Two Towers,8.736125377987946,2002
13,Inception,8.732751025994641,2010
14,The Empire Strikes Back,8.698703887140217,1980
15,The Matrix,8.669241979625076,1999
16,GoodFellas,8.652905521805813,1990
17,One Flew Over the Cuckoo's Nest,8.638288851089232,1975
18,Se7en,8.604497240222022,1995
19,Shichinin no samurai,8.59808432198398,1954
20,It's a Wonderful Life,8.59744906524363,1946
21,The Silence of the Lambs,8.588247062567454,1991
22,Saving Private Ryan,8.579513442391537,1998
23,Cidade de Deus,8.579502826468591,2002
24,Interstellar,8.570395186367547,2014
25,La vita è bella,8.568488399951171,1997
26,The Green Mile,8.563199081775402,1999
27,Star Wars,8.54831736910251,1977
28,Terminator 2: Judgment Day,8.537837704858486,1991
29,Back to the Future,8.51778983109081,1985
30,Sen to Chihiro no kamikakushi,8.516001025151718,2001
31,The Pianist,8.507440022104177,2002
32,Psycho,8.506525235661378,1960
33,Gisaengchung,8.499733529289214,2019
34,Léon,8.4935964820457,1994
35,The Lion King,8.487957875520902,1994
36,Gladiator,8.487001051769603,2000
37,American History X,8.481795436224361,1998
38,The Departed,8.476128780755719,2006
39,The Usual Suspects,8.469770366673465,1995
40,The Prestige,8.469242024239946,2006
41,Whiplash,8.468289672391537,2014
42,Casablanca,8.461660993904445,1942
43,Hotaru no haka,8.455942951890448,1988
44,Seppuku,8.455915628285805,1962
45,The Intouchables,8.453762148870833,2011
46,Modern Times,8.447105852582967,1936
47,Once Upon a Time in the West,8.441058124743886,1968
48,Rear Window,8.43564247159922,1954
49,Nuovo Cinema Paradiso,8.435058180961015,1988

In [21]:
#3. IMDB’s Top rated 100 Indian movies’ data


from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import re
html = urlopen('https://www.imdb.com/india/top-rated-indian-movies/')
bs = BeautifulSoup(html, "html.parser")
movies = bs.select('td.titleColumn')
ratings = [b.attrs.get('data-value') for b in bs.select('td.posterColumn span[name=ir]')]


imdb = []

# Store each item into dictionary (data), then put those into a list (imdb)
for index in range(0, 50):
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    data = [movie_title,
            ratings[index],
            year
            ]
    imdb.append(data)
    
df = pd.DataFrame(imdb, columns=['Name', 'Rating', 'Year of Release'])

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
 
# All dataframes hereafter reflect these changes.
display(df)

                                   Name             Rating Year of Release
0   Ramayana: The Legend of Prince Rama  8.548954920198527            1993
1            Rocketry: The Nambi Effect  8.410820726277477            2022
2                               Nayakan  8.396159917436936            1987
3                              Gol Maal   8.39453385766035            1979
4                            Anbe Sivam  8.388181177912017            2003
5                           777 Charlie   8.38680372244653            2022
6                              Jai Bhim  8.361056300102147            2021
7                     Pariyerum Perumal  8.359461212831503            2018
8                              3 Idiots  8.352917823553389            2009
9                           Apur Sansar  8.351368401980334            1959
10                     Manichitrathazhu  8.350263213699739            1993
11                                #Home  8.325899852011746            2021
12                      Soorarai Pottru  8.315712882414575            2020
13                         Black Friday  8.313071158247938            2004
14                    Kumbalangi Nights  8.308853147051646            2019
15                    C/o Kancharapalem  8.301189717609548            2018
16                     Taare Zameen Par   8.30066623487298            2007
17                             Kireedam  8.292205073926786            1989
18                               Dangal   8.28013523850772            2016
19                               Kaithi  8.265615617009313            2019
20                               Jersey  8.259673243360416            2019
21                                   96  8.253760967834186            2018
22                          Maya Bazaar   8.24919191705495            1957
23                            Natsamrat  8.236946614240916            2016
24                           Drishyam 2   8.23312648465733            2021
25                               Asuran  8.232648146536661            2019
26                           Sita Ramam  8.231151884643893            2022
27                         Thevar Magan  8.227237107871641            1992
28                           Visaaranai  8.219744182532732            2015
29                  Sarpatta Parambarai  8.213159367702012            2021
30                           Thalapathi   8.20755567142455            1991
31                      Pather Panchali  8.194949874652409            1955
32                         Nadodikkattu  8.188700313229246            1987
33                             Drishyam  8.176823403905624            2013
34                   Jaane Bhi Do Yaaro  8.176339629855983            1983
35                         Thani Oruvan  8.174754622192843            2015
36                         Sardar Udham  8.169408050183527            2021
37                            Aparajito  8.166709005386922            1956
38                         Vada Chennai  8.165809773932597            2018
39                    Khosla Ka Ghosla!  8.163711910260542            2006
40                              Anniyan   8.14949088657777            2005
41                             Ratsasan  8.147030927341499            2018
42                        Chupke Chupke  8.137395030387818            1975
43                   Gangs of Wasseypur  8.133988518773426            2012
44                              Peranbu  8.132342472084796            2018
45                             Drishyam  8.131434235550815            2015
46                             Mahanati  8.129359323519447            2018
47                       Bangalore Days  8.129092002410957            2014
48                                Satya  8.126656063732097            1998
49                               Premam  8.126204588694405            2015

In [22]:
#4. List of respected former presidents of India

from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
html = urlopen('https://presidentofindia.nic.in/former-presidents.htm')
bs = BeautifulSoup(html, "html.parser")
presidents = bs.find_all("div", {"class": "presidentListing"})

presidentsList = []

for index in range(0, len(presidents)):
    presidents_string = presidents[index].get_text()
    president = presidents_string.split('\n')[1]
    term = presidents_string.split('\n')[2].split(": ")[1]
    data = [president, term]
    presidentsList.append(data)

df = pd.DataFrame(presidentsList, columns=["Name","Term of Office"])
display(df)

,Name,Term of Office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974"
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

In [23]:
#5. a) Top 10 ODI Teams

from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
html = urlopen('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
bs = BeautifulSoup(html, "html.parser")
firstTeamName = bs.select("td.rankings-block__banner--team-name span.u-hide-phablet")[0];
firstTeamMatches = bs.select("td.rankings-block__banner--matches")[0];
firstTeamPoints = bs.select("td.rankings-block__banner--points")[0];
firstTeamRating = bs.select("td.rankings-block__banner--rating")[0];
firstTeam = [firstTeamName.get_text(), firstTeamMatches.get_text(), firstTeamPoints.get_text(), firstTeamRating.get_text().strip()];


restTeams = bs.select("tr.table-body");
restTeamNames = bs.select("td.rankings-table__team span.u-hide-phablet");
restTeamMatchesPoints = bs.select("td.u-center-text");
restTeamRatings = bs.select("td.rating");

restTeamMatches = [];
restTeamPoints = [];

for index in range(0, len(restTeamMatchesPoints)):
    if (index%2 == 0):
        restTeamMatches.append(restTeamMatchesPoints[index].get_text());
    else:
        restTeamPoints.append(restTeamMatchesPoints[index].get_text());
        

teamList = []
teamList.append(firstTeam);

for index in range(0, 9):
    name = restTeamNames[index].get_text();
    matches = restTeamMatches[index];
    points = restTeamPoints[index];
    ratings = restTeamRatings[index].get_text();
    restTeam = [name, matches, points, ratings];
    teamList.append(restTeam);


df = pd.DataFrame(teamList, columns=["Name","Matches", "Points", "Rating"])
display(df)

           Name Matches Points Rating
0         India      44  5,010    114
1     Australia      32  3,572    112
2   New Zealand      29  3,229    111
3       England      33  3,656    111
4      Pakistan      25  2,649    106
5  South Africa      27  2,775    103
6    Bangladesh      33  3,129     95
7     Sri Lanka      34  2,976     88
8   Afghanistan      20  1,419     71
9   West Indies      41  2,902     71

In [24]:
#5. b) Top 10 ODI Batsmen

from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
html = urlopen('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
bs = BeautifulSoup(html, "html.parser")
firstPlayerName = bs.select("div.rankings-block__banner--name-large")[0];
firstPlayerTeam = bs.select("div.rankings-block__banner--nationality")[0];
firstPlayerRating = bs.select("div.rankings-block__banner--rating")[0];

firstPlayer = [firstPlayerName.get_text().strip(),firstPlayerTeam.get_text().strip(),firstPlayerRating.get_text().strip()]

restPlayerName = bs.select("td.rankings-table__name");
restPlayerTeam = bs.select("td.rankings-table__team");
restPlayerRating = bs.select("td.rating");

playerList = []
playerList.append(firstPlayer);


for index in range(0,9):
    name = restPlayerName[index].get_text().strip();
    team = restPlayerTeam[index].get_text().strip();
    rating = restPlayerRating[index].get_text().strip();
    playerList.append([name,team,rating]);
    
df = pd.DataFrame(playerList, columns=["Name","Team", "Rating"])
display(df)

                    Name Team Rating
0             Babar Azam  PAK    887
1  Rassie van der Dussen   SA    787
2           David Warner  AUS    747
3        Quinton de Kock   SA    743
4            Imam-ul-Haq  PAK    740
5           Shubman Gill  IND    734
6            Virat Kohli  IND    727
7            Steve Smith  AUS    719
8           Rohit Sharma  IND    719
9        Kane Williamson   NZ    700

In [25]:
#5. c) Top 10 ODI Bowlers

from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
html = urlopen('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
bs = BeautifulSoup(html, "html.parser")
firstPlayerName = bs.select("div.rankings-block__banner--name-large")[0];
firstPlayerTeam = bs.select("div.rankings-block__banner--nationality")[0];
firstPlayerRating = bs.select("div.rankings-block__banner--rating")[0];

firstPlayer = [firstPlayerName.get_text().strip(),firstPlayerTeam.get_text().strip(),firstPlayerRating.get_text().strip()]

restPlayerName = bs.select("td.rankings-table__name");
restPlayerTeam = bs.select("td.rankings-table__team");
restPlayerRating = bs.select("td.rating");

playerList = []
playerList.append(firstPlayer);


for index in range(0,9):
    name = restPlayerName[index].get_text().strip();
    team = restPlayerTeam[index].get_text().strip();
    rating = restPlayerRating[index].get_text().strip();
    playerList.append([name,team,rating]);
    
df = pd.DataFrame(playerList, columns=["Name","Team", "Rating"])
display(df)

                Name Team Rating
0     Mohammed Siraj  IND    729
1     Josh Hazlewood  AUS    727
2        Trent Boult   NZ    708
3     Mitchell Starc  AUS    665
4        Rashid Khan  AFG    659
5         Adam Zampa  AUS    655
6    Shakib Al Hasan  BAN    652
7     Shaheen Afridi  PAK    641
8  Mustafizur Rahman  BAN    638
9   Mujeeb Ur Rahman  AFG    637

In [27]:
#6. a) Top 10 ODI Teams - Women

from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
html = urlopen('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
bs = BeautifulSoup(html, "html.parser")
firstTeamName = bs.select("td.rankings-block__banner--team-name span.u-hide-phablet")[0];
firstTeamMatches = bs.select("td.rankings-block__banner--matches")[0];
firstTeamPoints = bs.select("td.rankings-block__banner--points")[0];
firstTeamRating = bs.select("td.rankings-block__banner--rating")[0];
firstTeam = [firstTeamName.get_text(), firstTeamMatches.get_text(), firstTeamPoints.get_text(), firstTeamRating.get_text().strip()];


restTeams = bs.select("tr.table-body");
restTeamNames = bs.select("td.rankings-table__team span.u-hide-phablet");
restTeamMatchesPoints = bs.select("td.u-center-text");
restTeamRatings = bs.select("td.rating");

restTeamMatches = [];
restTeamPoints = [];

for index in range(0, len(restTeamMatchesPoints)):
    if (index%2 == 0):
        restTeamMatches.append(restTeamMatchesPoints[index].get_text());
    else:
        restTeamPoints.append(restTeamMatchesPoints[index].get_text());
        

teamList = []
teamList.append(firstTeam);

for index in range(0, 9):
    name = restTeamNames[index].get_text();
    matches = restTeamMatches[index];
    points = restTeamPoints[index];
    ratings = restTeamRatings[index].get_text();
    restTeam = [name, matches, points, ratings];
    teamList.append(restTeam);


df = pd.DataFrame(teamList, columns=["Name","Matches", "Points", "Rating"])
display(df)

           Name Matches Points Rating
0     Australia      21  3,603    172
1       England      28  3,342    119
2  South Africa      26  3,098    119
3         India      27  2,820    104
4   New Zealand      25  2,553    102
5   West Indies      27  2,535     94
6    Bangladesh      13    983     76
7      Thailand       8    572     72
8      Pakistan      27  1,678     62
9     Sri Lanka       8    353     44

In [28]:
#6. b) Top 10 ODI Batsmen - Women

from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
html = urlopen('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
bs = BeautifulSoup(html, "html.parser")
firstPlayerName = bs.select("div.rankings-block__banner--name-large")[0];
firstPlayerTeam = bs.select("div.rankings-block__banner--nationality")[0];
firstPlayerRating = bs.select("div.rankings-block__banner--rating")[0];

firstPlayer = [firstPlayerName.get_text().strip(),firstPlayerTeam.get_text().strip(),firstPlayerRating.get_text().strip()]

restPlayerName = bs.select("td.rankings-table__name");
restPlayerTeam = bs.select("td.rankings-table__team");
restPlayerRating = bs.select("td.rating");

playerList = []
playerList.append(firstPlayer);


for index in range(0,9):
    name = restPlayerName[index].get_text().strip();
    team = restPlayerTeam[index].get_text().strip();
    rating = restPlayerRating[index].get_text().strip();
    playerList.append([name,team,rating]);
    
df = pd.DataFrame(playerList, columns=["Name","Team", "Rating"])
display(df)

                  Name Team Rating
0         Alyssa Healy  AUS    762
1          Beth Mooney  AUS    754
2      Laura Wolvaardt   SA    732
3       Natalie Sciver  ENG    731
4          Meg Lanning  AUS    717
5     Harmanpreet Kaur  IND    716
6      Smriti Mandhana  IND    714
7       Rachael Haynes  AUS    680
8  Chamari Athapaththu   SL    655
9    Amy Satterthwaite   NZ    641

In [29]:
#6. c) Top 10 ODI Bowlers - Women

from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
html = urlopen('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling')
bs = BeautifulSoup(html, "html.parser")
firstPlayerName = bs.select("div.rankings-block__banner--name-large")[0];
firstPlayerTeam = bs.select("div.rankings-block__banner--nationality")[0];
firstPlayerRating = bs.select("div.rankings-block__banner--rating")[0];

firstPlayer = [firstPlayerName.get_text().strip(),firstPlayerTeam.get_text().strip(),firstPlayerRating.get_text().strip()]

restPlayerName = bs.select("td.rankings-table__name");
restPlayerTeam = bs.select("td.rankings-table__team");
restPlayerRating = bs.select("td.rating");

playerList = []
playerList.append(firstPlayer);


for index in range(0,9):
    name = restPlayerName[index].get_text().strip();
    team = restPlayerTeam[index].get_text().strip();
    rating = restPlayerRating[index].get_text().strip();
    playerList.append([name,team,rating]);
    
df = pd.DataFrame(playerList, columns=["Name","Team", "Rating"])
display(df)

                  Name Team Rating
0    Sophie Ecclestone  ENG    751
1        Jess Jonassen  AUS    723
2       Shabnim Ismail   SA    722
3         Megan Schutt  AUS    704
4       Jhulan Goswami  IND    698
5      Hayley Matthews   WI    660
6           Kate Cross  ENG    655
7       Ayabonga Khaka   SA    634
8  Rajeshwari Gayakwad  IND    617
9       Marizanne Kapp   SA    598

In [30]:
#7. News details from https://www.cnbc.com/world/?region=world

from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
html = urlopen('https://www.cnbc.com/world/?region=world')
bs = BeautifulSoup(html, "html.parser")
headLinesTimestampList = bs.select("time.LatestNews-timestamp");
headLinesTitleList = bs.select("a.LatestNews-headline");
headLinesLinkList = [b.attrs.get('href') for b in bs.select('a.LatestNews-headline')]


latest_news = []

for index in range(0,len(headLinesTitleList)):
    headline = headLinesTitleList[index].get_text();
    time = headLinesTimestampList[index].get_text();
    news_link = headLinesLinkList[index];
    latest_news.append([headline, time, news_link]);
    
df = pd.DataFrame(latest_news, columns=["Headline","Time", "News Link"])
display(df)

,Headline,Time,News Link
0,Jim Chanos says he’s still betting against Coinbase,8 Min Ago,https://www.cnbc.com/2023/02/22/jim-chanos-says-hes-still-betting-against-coinbase-even-with-a-70percent-rally-this-year.html
1,West Virginia aims to toss lawsuit seeking to overturn abortion pill restrictions,10 Min Ago,https://www.cnbc.com/2023/02/22/west-virginia-seeks-to-dismiss-lawsuit-over-abortion-pill-access.html
2,"How much money you'd have if you invested $1,000 in Walmart 10 years ago",28 Min Ago,https://www.cnbc.com/2023/02/22/walmart-how-much-money-youd-have-if-you-invested-1000-dollars-a-decade-ago.html
3,FedEx pilot union inches closer to strike with authorization vote approval,32 Min Ago,https://www.cnbc.com/2023/02/22/fedex-pilot-leaders-approve-strike-authorization-vote.html
4,Republicans seek records on SEC's climate proposal as part of push against ESG,38 Min Ago,https://www.cnbc.com/2023/02/22/republicans-seek-records-on-sec-climate-disclosure-proposal-.html
5,"Trump daughter, son-in-law Kushner subpoenaed in Jan. 6 criminal probe: report",42 Min Ago,https://www.cnbc.com/2023/02/22/trump-daughter-ivanka-son-in-law-jared-kushner-subpoenaed-in-jan-6-criminal-probe-report.html
6,Lucid's revenue falls short as it guides to higher EV production in 2023,42 Min Ago,https://www.cnbc.com/2023/02/22/lucid-lcid-earnings-q4-2022.html
7,"UN urged to do more for sailors, ships trapped in Ukraine since start of war",44 Min Ago,https://www.cnbc.com/2023/02/22/un-urged-to-help-sailors-ships-trapped-in-ukraine-since-war-started.html
8,Biden Interior proposes first offshore wind lease sale in Gulf of Mexico,54 Min Ago,https://www.cnbc.com/2023/02/22/biden-proposes-first-offshore-wind-lease-sale-in-gulf-of-mexico.html
9,China provinces and Florida rank among the world's most climate-vulnerable areas,56 Min Ago,https://www.cnbc.com/2023/02/22/china-provinces-florida-among-worlds-most-climate-vulnerable-areas.html
10,"Why we need a nationwide electric grid in the U.S., but don't have one",59 Min Ago,https://www.cnbc.com/2023/02/22/why-we-need-nationwide-electric-grid-in-the-us-but-dont-have-one.html
11,SCOTUS considers whether Twitter can be held liable for failing to remove terrorists,1 Hour Ago,https://www.cnbc.com/2023/02/22/supreme-court-hears-twitter-v-taamneh-case-about-terrorist-content.html
12,"This stock has 20% upside and could get a boost in tax season, Wells Fargo says",1 Hour Ago,https://www.cnbc.com/2023/02/22/this-stock-has-20percent-upside-and-could-get-a-boost-in-tax-season-wells-fargo-says.html
13,Falling behind on federal student loans can lead to other big financial problems,1 Hour Ago,https://www.cnbc.com/2023/02/22/falling-behind-on-student-loans-can-lead-to-other-financial-problems.html
14,Why Josh Brown likes this high-beta cybersecurity stock,1 Hour Ago,https://www.cnbc.com/2023/02/22/why-josh-brown-likes-this-high-beta-cybersecurity-stock.html
15,Gen Z college students say this is the most important thing to them in a new job,2 Hours Ago,https://www.cnbc.com/2023/02/22/gen-z-college-students-on-most-important-thing-to-them-in-a-new-job.html
16,How to invest in 'extremely disruptive' AI tech,2 Hours Ago,https://www.cnbc.com/2023/02/22/how-to-invest-in-artificial-intelligence-etfs.html
17,How to boost your portfolio income when companies cut dividends,2 Hours Ago,https://www.cnbc.com/2023/02/22/how-to-boost-your-portfolio-income-when-companies-cut-dividends.html
18,Supreme Court rules bankruptcy filers can't avoid debt due to another's fraud,2 Hours Ago,https://www.cnbc.com/2023/02/22/supreme-court-rules-bankruptcy-no-shield-to-fraud-debt.html
19,S&P 500 earnings beats hit a 15-year low. More cost cuts are coming,2 Hours Ago,https://www.cnbc.com/2023/02/22/sp-500-earnings-beats-hit-15-year-low-more-cost-cuts-are-coming.html
20,Musk meets with California Gov. Newsom at Tesla's new engineering HQ,2 Hours Ago,https://www.cnbc.com/2023/02/22/elon-musk-meets-with-california-gov-newsom-at-teslas-engineering-hq.html
21,"These dividend stocks offer growth, quality during a tumultuous market, UBS says",2 Hours Ago,https://www.cnbc.com/2023/02/22/ubs-likes-these-high-quality-dividend-stocks-to-weather-a-downturn.html
22,Quiet quitting is 'not going anywhere'—and could get worse this year,2 Hours Ago,https://www.cnbc.com/2023/02/22/lackluster-raises-mass-layoffs-could-lead-to-new-quiet-quitting-wave.html
23,CDC advisors recommend mpox vaccine for at-risk adults in future outbreaks,2 Hours Ago,https://www.cnbc.com/2023/02/22/mpox-cdc-advisors-recommend-vaccine-for-at-risk-adults-in-future-outbreaks.html
24,Off-price retailer TJX's quarterly results show strong demand,2 Hours Ago,https://www.cnbc.com/2023/02/22/off-price-retailer-tjxs-quarterly-results-show-strong-demand.html
25,"Flu shot 68% effective against hospitalization in kids, less protective for seniors",3 Hours Ago,https://www.cnbc.com/2023/02/22/flu-vaccine-cdc-releases-effectiveness-data-for-children-and-seniors.html
26,"Amazon, Wells Fargo, Microsoft, Nvidia are in the news. Here's our take",3 Hours Ago,https://www.cnbc.com/2023/02/22/amazon-wells-fargo-microsoft-nvidia-are-in-the-headlines-our-club-take.html
27,Fed minutes show members resolved to keep fighting inflation with rate hikes,3 Hours Ago,https://www.cnbc.com/2023/02/22/fed-minutes-february-2023-minutes-show-fed-members-resolved-to-keep-fighting-inflation.html
28,"Stay away: These stocks are expensive and vulnerable, Wolfe Research says",3 Hours Ago,https://www.cnbc.com/2023/02/22/stay-away-these-stocks-are-expensive-and-vulnerable-one-firm-says.html
29,Luminar and Mercedes-Benz expand lidar partnership for driver-assist system,3 Hours Ago,https://www.cnbc.com/2023/02/22/luminar-mercedes-benz-lidar-partnership.html

In [ ]:
####8. Most downloaded article https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
html = urlopen('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
bs = BeautifulSoup(html, "html.parser")
PeperTitleList = bs.select("a.nrDZj");
AuthorList = bs.select("span.pgLAT");
PublishedDateList = bs.select("span.bKddwo");
PaperLinkList = [b.attrs.get('href') for b in bs.select('a.nrDZj')]


latest_papers = []

for index in range(0,len(PeperTitleList)):
    title = PeperTitleList[index].get_text().strip();
    author = AuthorList[index].get_text();
    publishedon = PublishedDateList[index].get_text();
    paper_link = PaperLinkList[index];
    latest_papers.append([title, author, publishedon, paper_link]);
    
df = pd.DataFrame(latest_papers, columns=["Paper Title","Authors", "Published Date", "Paper URL"])
display(df)

In [32]:
#8. Most downloaded article https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
html = urlopen('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
bs = BeautifulSoup(html, "html.parser")
PeperTitleList = bs.select("a.nrDZj");
AuthorList = bs.select("span.pgLAT");
PublishedDateList = bs.select("span.bKddwo");
PaperLinkList = [b.attrs.get('href') for b in bs.select('a.nrDZj')]


latest_papers = []

for index in range(0,len(PeperTitleList)):
    title = PeperTitleList[index].get_text().strip();
    author = AuthorList[index].get_text();
    publishedon = PublishedDateList[index].get_text();
    paper_link = PaperLinkList[index];
    latest_papers.append([title, author, publishedon, paper_link]);
    
df = pd.DataFrame(latest_papers, columns=["Paper Title","Authors", "Published Date", "Paper URL"])
display(df)

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)>

In [33]:
#9. Details from dineout.co.in

from urllib.request import Request, urlopen
from bs4 import BeautifulSoup
import pandas as pd
hdr = {'User-Agent': 'Mozilla/5.0'}
req = Request('https://www.dineout.co.in/delhi-restaurants/buffet-special',headers=hdr)
html = urlopen(req)
bs = BeautifulSoup(html, "html.parser")
NameList = bs.select("a.restnt-name");
CuisineList = bs.select("span.double-line-ellipsis a");
Location = bs.select("div.restnt-loc");
Ratings = bs.select("div.restnt-rating");
ImgURL = [b.attrs.get('data-src') for b in bs.select('img.no-img')]




restaurant_list = []


for index in range(0,len(NameList)):
    name = NameList[index].get_text().strip();
    cuisine = CuisineList[index].get_text().strip();
    location = Location[index].get_text().strip();
    ratings = Ratings[index].get_text();
    imgURL = ImgURL[index];
    restaurant_list.append([name, cuisine, location, ratings, imgURL]);
    
df = pd.DataFrame(restaurant_list, columns=["Restaurant Name","Cuisine", "Location", "Ratings","Image URL"])
display(df)

,Restaurant Name,Cuisine,Location,Ratings,Image URL
0,Castle Barbeque,Chinese,"Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium
1,Jungle Jamboree,North Indian,"3CS Mall,Lajpat Nagar - 3, South Delhi",4.3,https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium
2,Cafe Knosh,North Indian,"The Leela Ambience Convention Hotel,Shahdara, East Delhi",3.9,https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium
3,Castle Barbeque,Asian,"Pacific Mall,Tagore Garden, West Delhi",4.3,https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium
4,The Barbeque Company,Italian,"Gardens Galleria,Sector 38A, Noida",4.3,https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium
5,India Grill,Italian,"Hilton Garden Inn,Saket, South Delhi",4.3,https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium
6,Delhi Barbeque,Continental,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium
7,The Monarch - Bar Be Que Village,Chinese,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",4.3,https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium
8,Indian Grill Room,North Indian,"Suncity Business Tower,Golf Course Road, Gurgaon",3.9,https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium